.container {
  text-align: center;
  flex-direction: column;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box {
  margin-top: 30px;
}

.footer {
  margin-top: 50px;
  padding-bottom: 50px;
}

@media screen and (max-width:1024px) {
  .width-by-window {
    margin-left: 10%;
    margin-right: 10%;
    width: -webkit-fill-available;
  }
}

@media screen and (min-width: 1024px) {
  .width-by-window {
    width: 984px;
  }
}
