<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>crud app by hylang/Flask</title>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css"
          crossorigin="anonymous" />
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
          crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css"
          href="/public/css/site.css"/>
  </head>
  <body>

    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
          <img src="/public/images/bird.svg" width="32">
          &emsp;Simple BBS Site
        </a>
      </div>
    </nav>

    <div class="container">

      <div class="box width-by-window form-box">
        <form action="/comment" method="post">
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" name="user_name" type="name" placeholder="John Smith">
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <div class="control has-icons-left">
              <textarea class="textarea has-fixed-size" name="comment_text"
                        placeholder="Hello world!" style="width:auto;"></textarea>
            </div>
          </div>
          <div class="field">
            <p class="control">
              <button class="button is-primary" type='submit'>
                Comment
              </button>
            </p>
          </div>
        </form>
      </div>

      {% for item in result %}
      <div class="box width-by-window">
        <article class="media">
          <div class="media-content">
            <div class="content">
              <p>
                <span class="icon is-small is-left">
                  <i class="fas fa-user"></i>
                </span>
                <strong>{{ item[1] }}</strong>
                &emsp;
                <small> posted at {{ item[2] }}</small>
                <br>
                {{ item[0] }}
              </p>
            </div>
          </div>
        </article>
      </div>
      {% endfor %}

    </div>

    <footer class="footer">
      <div class="content has-text-centered">

        <a href="https://bulma.io">
          <img src="https://bulma.io/images/made-with-bulma--semiblack.png"
               alt="Made with Bulma" width="128" height="24">
        </a>

        <div>Icons made by
          <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>
          from
          <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
          is licensed by
          <a href="http://creativecommons.org/licenses/by/3.0/"
             title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
        </div>

        <p>Copyright &#169; yuwki0131 all rights reserved.	</p>
      </div>
    </footer>
  </body>
</html>
